@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

body {
  font-size: 15px;
  font-weight: 100;
  font-family: '微软雅黑','Helvetica Neue',sans-serif; }

.row::after {
  content: "";
  display: block;
  clear: both;
  line-height: 0;
  height: 0; }

.col.l1 {
  width: 8.33333%; }

.col.l2 {
  width: 16.66667%; }

.col.l3 {
  width: 25%; }

.col.l4 {
  width: 33.33333%; }

.col.l5 {
  width: 41.66667%; }

.col.l6 {
  width: 50%; }

.col.l7 {
  width: 58.33333%; }

.col.l8 {
  width: 66.66667%; }

.col.l9 {
  width: 75%; }

.col.l10 {
  width: 83.33333%; }

.col.l11 {
  width: 91.66667%; }

.col.l12 {
  width: 100%; }

@media screen and (max-width: 1068px) {
  .col.m1 {
    width: 8.33333%; }
  .col.m2 {
    width: 16.66667%; }
  .col.m3 {
    width: 25%; }
  .col.m4 {
    width: 33.33333%; }
  .col.m5 {
    width: 41.66667%; }
  .col.m6 {
    width: 50%; }
  .col.m7 {
    width: 58.33333%; }
  .col.m8 {
    width: 66.66667%; }
  .col.m9 {
    width: 75%; }
  .col.m10 {
    width: 83.33333%; }
  .col.m11 {
    width: 91.66667%; }
  .col.m12 {
    width: 100%; } }

@media screen and (max-width: 768px) {
  .col.s1 {
    width: 8.33333%; }
  .col.s2 {
    width: 16.66667%; }
  .col.s3 {
    width: 25%; }
  .col.s4 {
    width: 33.33333%; }
  .col.s5 {
    width: 41.66667%; }
  .col.s6 {
    width: 50%; }
  .col.s7 {
    width: 58.33333%; }
  .col.s8 {
    width: 66.66667%; }
  .col.s9 {
    width: 75%; }
  .col.s10 {
    width: 83.33333%; }
  .col.s11 {
    width: 91.66667%; }
  .col.s12 {
    width: 100%; } }

@font-face {
  font-family: "text";
  src: url(./font/appleicons_text.woff) format("woff"); }

@font-face {
  font-family: "thin";
  src: url(./font/appleicons_thin.woff) format("woff"); }

@font-face {
  font-family: "extrathin";
  src: url(./font/myriad-set-pro_extrathin.woff) format("woff"); }

@font-face {
  font-family: "medium";
  src: url(./font/myriad-set-pro_medium.woff) format("woff"); }

@font-face {
  font-family: "semibold";
  src: url(./font/myriad-set-pro_semibold.woff) format("woff"); }

@font-face {
  font-family: "italic";
  src: url(./font/myriad-set-pro_semibold-italic.woff) format("woff"); }

@font-face {
  font-family: "protext";
  src: url(./font/myriad-set-pro_text.woff) format("woff"); }

@font-face {
  font-family: "textitalic";
  src: url(./font/myriad-set-pro_text-italic.woff) format("woff"); }

@font-face {
  font-family: "prothin";
  src: url(./font/myriad-set-pro_thin.woff) format("woff"); }

@font-face {
  font-family: "proultralight";
  src: url(./font/myriad-set-pro_ultralight.woff) format("woff"); }

.text {
  font-family: "text"; }

.thin {
  font-family: "thin"; }

.extrathin, .banner-box .banner li .title p {
  font-family: "extrathin"; }

.medium {
  font-family: "medium"; }

.semibold {
  font-family: "semibold"; }

.italic {
  font-family: "italic"; }

.protext, .navbox .nav-center .search-box .search-top input {
  font-family: "protext"; }

.textitalic {
  font-family: "textitalic"; }

.prothin, .banner-box .banner li:nth-of-type(3) .title h3, .banner-box .banner li:nth-of-type(3) .title p, .banner-box .banner li:nth-of-type(4) .title h3, .banner-box .banner li:nth-of-type(4) .title p, .banner-box .banner li:nth-of-type(1) .title p {
  font-family: "prothin"; }

.proultralight {
  font-family: "proultralight"; }

@font-face {
  font-family: 'iconfont';
  src: url("./font/iconfont.eot");
  src: url("./font/iconfont.eot?#iefix") format("embedded-opentype"), url("./font/iconfont.woff") format("woff"), url("./font/iconfont.ttf") format("truetype"); }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 70px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.02px;
  -moz-osx-font-smoothing: grayscale; }

@font-face {
  font-family: 'iconfont1';
  src: url("./font/iconfont1.eot");
  src: url("./font/iconfont1.eot?#iefix") format("embedded-opentype"), url("./font/iconfont1.woff") format("woff"); }

.iconfont1 {
  font-family: "iconfont1" !important;
  font-size: 70px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.02px;
  -moz-osx-font-smoothing: grayscale; }

body {
  overflow-x: hidden; }

.navbox {
  width: 100%;
  height: 44px;
  background: #333333;
  position: relative;
  z-index: 999; }
  .navbox .nav-center {
    max-width: 1024px;
    height: 44px;
    margin: 0 auto; }
    .navbox .nav-center .nav {
      text-align: justify;
      width: 100%;
      height: 44px;
      line-height: 44px;
      padding-left: 2px;
      padding-right: 2px;
      box-sizing: border-box; }
      .navbox .nav-center .nav li {
        height: 44px;
        line-height: 44px;
        display: inline-block;
        transition: opacity 0.8s ease; }
        .navbox .nav-center .nav li a {
          display: block;
          padding-right: 10px;
          padding-left: 10px;
          height: 44px;
          opacity: 1;
          transition: opacity 0.6s ease; }
          .navbox .nav-center .nav li a span {
            font-size: 0; }
          .navbox .nav-center .nav li a:hover {
            opacity: 0.65; }
      .navbox .nav-center .nav::after {
        width: 100%;
        height: 0px;
        opacity: 0;
        display: inline-block; }
      .navbox .nav-center .nav .col.menu1 {
        height: 0;
        opacity: 0; }
      .navbox .nav-center .nav .bag.action {
        top: 0;
        bottom: 0;
        position: absolute;
        margin: auto;
        right: 166px;
        cursor: pointer; }
        .navbox .nav-center .nav .bag.action a {
          opacity: 0;
          transition: opacity 0.8s ease; }
        .navbox .nav-center .nav .bag.action .zuo {
          width: 1px;
          height: 18px;
          top: 0;
          bottom: 0;
          position: absolute;
          margin: auto;
          background: #fff;
          left: 24px;
          transform: rotateZ(0deg);
          transition: transform 0.8s cubic-bezier(0.6, 0.6, 0.07, 0.07) 0.5s; }
        .navbox .nav-center .nav .bag.action .you {
          width: 1px;
          height: 18px;
          top: 0;
          bottom: 0;
          position: absolute;
          margin: auto;
          background: #fff;
          right: 22px;
          transform: rotateZ(0deg);
          transition: transform 0.8s cubic-bezier(0.6, 0.6, 0.07, 0.07) 0.5s; }
        .navbox .nav-center .nav .bag.action .zuo.action {
          transform: rotateZ(45deg);
          left: 19px; }
        .navbox .nav-center .nav .bag.action .you.action {
          transform: rotateZ(-45deg);
          right: 18px; }
    .navbox .nav-center .nav-phone {
      display: none; }
    @media screen and (max-width: 768px) {
      .navbox .nav-center .nav-phone {
        display: block; }
        .navbox .nav-center .nav-phone a {
          transition: opacity 0.6s ease; }
          .navbox .nav-center .nav-phone a:hover {
            opacity: 0.65; } }
    .navbox .nav-center .search-box {
      overflow: hidden;
      display: block;
      max-width: 51%;
      height: 274px;
      background: #fff;
      left: 0;
      right: 0;
      position: absolute;
      margin: auto;
      top: 0;
      opacity: 0;
      transition: transform 0.8s ease, opacity 0.8s ease 0.65s; }
      .navbox .nav-center .search-box .search-top {
        width: 100%;
        height: 44px;
        background: #333333; }
        .navbox .nav-center .search-box .search-top span {
          display: block;
          width: 10%;
          max-height: 44px;
          margin-top: 14px;
          float: left;
          background: url(img/search.svg) no-repeat 50%;
          color: #333333; }
        .navbox .nav-center .search-box .search-top input {
          width: 90%;
          height: 44px;
          display: block;
          border: 0;
          outline: none;
          -webkit-appearance: none;
          background: transparent;
          font-size: 16px;
          color: white;
          line-height: 44px;
          opacity: 0;
          transform: translateX(100%);
          transition: transform 0.8s ease 0.7s, opacity 0.8s ease 0.72s; }
      .navbox .nav-center .search-box .search-bottom {
        width: 100%;
        max-height: 230px;
        padding-right: 40px;
        padding-left: 40px;
        padding-top: 24px;
        padding-bottom: 15px;
        box-sizing: border-box; }
        .navbox .nav-center .search-box .search-bottom h3 {
          width: 100%;
          height: 12px;
          text-align: left;
          line-height: 12px;
          font-size: 12px;
          color: #999999;
          font-weight: 200;
          opacity: 0;
          transform: translateX(100%);
          transition: transform 0.8s ease 0.8s, opacity 0.8s ease 0.82s; }
        .navbox .nav-center .search-box .search-bottom .search-content {
          width: 100%;
          max-height: 170px;
          padding-top: 5px; }
          .navbox .nav-center .search-box .search-bottom .search-content li {
            width: 100%;
            height: 30px;
            margin: 4px 32px;
            box-sizing: border-box;
            text-align: left;
            line-height: 30px;
            font-size: 15px;
            font-weight: 200;
            opacity: 0;
            transform: translateX(100%); }
            .navbox .nav-center .search-box .search-bottom .search-content li:nth-of-type(1) {
              transition: transform 0.8s ease 0.89s, opacity 0.8s ease 0.892s; }
            .navbox .nav-center .search-box .search-bottom .search-content li:nth-of-type(2) {
              transition: transform 0.8s ease 0.90s, opacity 0.8s ease 0.902s; }
            .navbox .nav-center .search-box .search-bottom .search-content li:nth-of-type(3) {
              transition: transform 0.8s ease 0.91s, opacity 0.8s ease 0.912s; }
            .navbox .nav-center .search-box .search-bottom .search-content li:nth-of-type(4) {
              transition: transform 0.8s ease 0.92s, opacity 0.8s ease 0.922s; }
            .navbox .nav-center .search-box .search-bottom .search-content li:nth-of-type(5) {
              transition: transform 0.8s ease 0.93s, opacity 0.8s ease 0.932s; }
            .navbox .nav-center .search-box .search-bottom .search-content li a {
              width: 110%;
              padding: 0 40px;
              box-sizing: border-box;
              left: 0;
              right: 0;
              position: absolute;
              margin: auto;
              left: -62px;
              height: 30px;
              display: block;
              color: #999;
              z-index: 2; }
              .navbox .nav-center .search-box .search-bottom .search-content li a:hover {
                color: #08c;
                background: #F2F2F2; }
    .navbox .nav-center .search-box.action {
      opacity: 1; }
    .navbox .nav-center .search-box .search-top .text.action {
      transform: translateX(0px);
      opacity: 1; }
    .navbox .nav-center .search-bottom .title.action {
      transform: translateX(0px);
      opacity: 1; }
    .navbox .nav-center .search-box .search-content .content.action {
      transform: translateX(0px);
      opacity: 1; }

.logo a {
  width: 20px;
  background: url(img/logo.svg) no-repeat center center; }

.mac a {
  width: 31px;
  background: url(img/mac.svg) no-repeat center center; }

.ipad a {
  width: 30px;
  background: url(img/ipad.svg) no-repeat center center; }

.iphone a {
  width: 48px;
  background: url(img/iphone.svg) no-repeat center center; }

.watch a {
  width: 44px;
  background: url(img/watch.svg) no-repeat center center; }

.tv a {
  width: 20px;
  background: url(img/tv.svg) no-repeat center center; }

.music a {
  width: 40px;
  background: url(img/music.svg) no-repeat center center; }

.support a {
  width: 57px;
  background: url(img/support.svg) no-repeat center center; }

.search a {
  width: 20px;
  background: url(img/search.svg) no-repeat center center; }

.bag a {
  width: 18px;
  background: url(img/bag.svg) no-repeat center center; }

@media screen and (max-width: 768px) {
  .navbox {
    height: 48px; }
    .navbox .nav-center {
      height: 48px; }
      .navbox .nav-center .nav {
        display: none; }
      .navbox .nav-center .search-box {
        display: none; }
      .navbox .nav-center .nav-phone.action1 {
        background-color: #000000;
        height: 664px; }
      .navbox .nav-center .nav-phone {
        overflow: hidden;
        height: 48px;
        max-width: 767px;
        transition: height 0.8s cubic-bezier(0.43, 0.43, 0.24, 0.26);
        text-align: justify;
        padding-right: 10px;
        padding-left: 10px;
        box-sizing: border-box; }
        .navbox .nav-center .nav-phone .col {
          line-height: 48px;
          display: inline-block; }
          .navbox .nav-center .nav-phone .col a {
            display: block;
            padding-right: 10px;
            padding-left: 10px;
            height: 48px;
            opacity: 1;
            transition: opacity 0.6s ease; }
            .navbox .nav-center .nav-phone .col a span {
              font-size: 0; }
            .navbox .nav-center .nav-phone .col a:hover {
              opacity: 0.65; }
          .navbox .nav-center .nav-phone .col:nth-of-type(2) a {
            background: url(img/image_apple.svg) no-repeat center center; }
          .navbox .nav-center .nav-phone .col:nth-of-type(3) a {
            background: url(img/image_bag.svg) no-repeat center center; }
          .navbox .nav-center .nav-phone .col:nth-of-type(3) {
            transform: translateX(0); }
        .navbox .nav-center .nav-phone .bag1.action1 {
          transform: translateX(1000px);
          transition: transform 0.8s cubic-bezier(0.93, 0.07, 0.69, 1.01); }
        .navbox .nav-center .nav-phone .phone-content {
          display: block;
          width: 100%;
          height: 520px;
          left: 0;
          right: 0;
          position: absolute;
          margin: auto;
          top: 48px; }
          .navbox .nav-center .nav-phone .phone-content .phone-list.active {
            height: 100%;
            transition: height 0.8s ease; }
          .navbox .nav-center .nav-phone .phone-content .phone-list {
            width: 100%;
            height: 0;
            padding-right: 48px;
            padding-left: 48px;
            box-sizing: border-box;
            left: 0;
            right: 0;
            position: absolute;
            margin: auto; }
            .navbox .nav-center .nav-phone .phone-content .phone-list .item {
              transform: translateX(-1000px);
              width: 100%;
              height: 48px;
              border-bottom: 1px solid #333;
              line-height: 48px; }
              .navbox .nav-center .nav-phone .phone-content .phone-list .item a {
                display: block;
                height: 48px;
                width: 100%;
                text-align: left;
                opacity: 1; }
                .navbox .nav-center .nav-phone .phone-content .phone-list .item a:hover {
                  opacity: 0.65; }
                .navbox .nav-center .nav-phone .phone-content .phone-list .item a span {
                  font-size: 0; }
              .navbox .nav-center .nav-phone .phone-content .phone-list .item:first-of-type {
                border: 0;
                height: 10px; }
              .navbox .nav-center .nav-phone .phone-content .phone-list .item:last-of-type {
                border-bottom: 1px solid #fff; }
                .navbox .nav-center .nav-phone .phone-content .phone-list .item:last-of-type span {
                  display: block;
                  width: 3%;
                  height: 48px;
                  background-image: url(img/image_search.svg); }
                .navbox .nav-center .nav-phone .phone-content .phone-list .item:last-of-type input {
                  display: block;
                  width: 93%;
                  height: 47px;
                  font-size: 16px;
                  text-align: left;
                  line-height: 48px;
                  outline: none;
                  border: 0;
                  margin-top: -47px;
                  margin-left: 38px;
                  -webkit-appearance: none;
                  background: transparent;
                  color: #fff; }
              .navbox .nav-center .nav-phone .phone-content .phone-list .item:nth-of-type(1).active {
                transform: translateX(0);
                transition: transform 0.2s ease 0.1s, opacity 0.8s ease 0.2s; }
              .navbox .nav-center .nav-phone .phone-content .phone-list .item:nth-of-type(2).active {
                transform: translateX(0);
                transition: transform 0.4s ease 0.20s, opacity 0.8s ease 0.2s; }
              .navbox .nav-center .nav-phone .phone-content .phone-list .item:nth-of-type(3).active {
                transform: translateX(0);
                transition: transform 0.6s ease 0.31s, opacity 0.8s ease 0.2s; }
              .navbox .nav-center .nav-phone .phone-content .phone-list .item:nth-of-type(4).active {
                transform: translateX(0);
                transition: transform 0.8s ease 0.42s, opacity 0.8s ease 0.22s; }
              .navbox .nav-center .nav-phone .phone-content .phone-list .item:nth-of-type(5).active {
                transform: translateX(0);
                transition: transform 0.815s ease 0.51s, opacity 0.8s ease 0.32s; }
              .navbox .nav-center .nav-phone .phone-content .phone-list .item:nth-of-type(6).active {
                transform: translateX(0);
                transition: transform 0.81s ease .64s, opacity 0.8s ease 0.42s; }
              .navbox .nav-center .nav-phone .phone-content .phone-list .item:nth-of-type(7).active {
                transform: translateX(0);
                transition: transform 0.83s ease .75s, opacity 0.8s ease 0.52s; }
              .navbox .nav-center .nav-phone .phone-content .phone-list .item:nth-of-type(8).active {
                transform: translateX(0);
                transition: transform 0.85s ease .86s, opacity 0.8s ease 0.62s; }
              .navbox .nav-center .nav-phone .phone-content .phone-list .item:nth-of-type(9).active {
                transform: translateX(0);
                transition: transform 0.9s ease 0.87s, opacity 0.8s ease 0.72s; }
        .navbox .nav-center .nav-phone .menu {
          position: relative;
          width: 48px;
          height: 48px; }
          .navbox .nav-center .nav-phone .menu .shang {
            width: 18px;
            height: 1px;
            background: #fff;
            left: 0;
            right: 0;
            position: absolute;
            margin: auto;
            top: 20px;
            transform: rotateZ(0deg);
            transition: transform 0.8s cubic-bezier(0.4, 0.01, 0.165, 0.99); }
          .navbox .nav-center .nav-phone .menu .xia {
            width: 18px;
            height: 1px;
            background: #fff;
            left: 0;
            right: 0;
            position: absolute;
            margin: auto;
            bottom: 20px;
            transform: rotateZ(0deg);
            transition: transform 0.8s cubic-bezier(0.4, 0.01, 0.165, 0.99); }
          .navbox .nav-center .nav-phone .menu .shang.action {
            transform: rotateZ(45deg);
            top: 24px;
            z-index: 2; }
          .navbox .nav-center .nav-phone .menu .xia.action {
            transform: rotateZ(-45deg);
            bottom: 23px;
            z-index: 2; }
        .navbox .nav-center .nav-phone::after {
          width: 100%;
          height: 0;
          opacity: 0;
          display: inline-block; } }

.phone-content .phone-list .mac a {
  width: 36px;
  background: url(img/image_mac.svg) no-repeat 0 center; }

.phone-content .phone-list .ipad a {
  width: 35px;
  background: url(img/image_ipad.svg) no-repeat 0 center; }

.phone-content .phone-list .iphone a {
  width: 58px;
  background: url(img/image_iphone.svg) no-repeat 0 center; }

.phone-content .phone-list .watch a {
  width: 52px;
  background: url(img/image_watch.svg) no-repeat 0 center; }

.phone-content .phone-list .tv a {
  width: 23px;
  background: url(img/image_tv.svg) no-repeat 0 center; }

.phone-content .phone-list .music a {
  width: 48px;
  background: url(img/image_music.svg) no-repeat 0 center; }

.phone-content .phone-list .support a {
  width: 68px;
  background: url(img/image_support.svg) no-repeat 0 center; }

.curtain {
  display: none;
  opacity: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 990;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.6s ease; }

.curtain.action {
  height: 100%;
  display: block;
  opacity: 1; }

.list-box.action {
  display: none; }

.copyright-box.action {
  display: none; }

.banner-box {
  width: 100%;
  height: 650px;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  position: relative;
  z-index: 2;
  margin-top: -46px;
  overflow: hidden; }
  .banner-box .banner {
    width: 100%;
    height: 100%;
    cursor: pointer;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    overflow: hidden; }
    .banner-box .banner li {
      transition: transform 0.8s ease;
      display: none;
      width: 100%;
      height: 100%;
      position: absolute; }
      .banner-box .banner li .title {
        width: 736px;
        left: 0;
        right: 0;
        position: absolute;
        margin: auto; }
        .banner-box .banner li .title h3 {
          width: auto;
          height: auto;
          left: 0;
          right: 0;
          position: absolute;
          margin: auto;
          top: 60%;
          display: block;
          font-weight: 300;
          font-size: 52px;
          text-align: center;
          color: #333; }
        .banner-box .banner li .title p {
          width: auto;
          height: auto;
          left: 0;
          right: 0;
          position: absolute;
          margin: auto;
          display: block;
          text-align: center;
          font-weight: 300;
          font-size: 32px;
          color: #333; }
      .banner-box .banner li:nth-of-type(2) {
        background: url(img/1.jpg) no-repeat center 65%; }
        .banner-box .banner li:nth-of-type(2) .title {
          height: 88px;
          top: 102px;
          background: url(img/17.png) no-repeat center center; }
          .banner-box .banner li:nth-of-type(2) .title p {
            top: 84%;
            font-size: 34px;
            font-weight: 700; }
      .banner-box .banner li:nth-of-type(3) {
        background: url(img/2.jpg) no-repeat 194% 211%; }
        .banner-box .banner li:nth-of-type(3) .title {
          height: 92px;
          top: 100px; }
          .banner-box .banner li:nth-of-type(3) .title h3 {
            top: 9%;
            font-size: 52px;
            font-weight: 100; }
          .banner-box .banner li:nth-of-type(3) .title p {
            top: 73%;
            color: #666; }
      .banner-box .banner li:nth-of-type(4) {
        background: url(img/3.png) no-repeat center 68%; }
        .banner-box .banner li:nth-of-type(4) .title {
          height: 92px;
          top: 100px; }
          .banner-box .banner li:nth-of-type(4) .title h3 {
            top: 50%; }
          .banner-box .banner li:nth-of-type(4) .title p {
            top: 112%; }
      .banner-box .banner li:nth-of-type(1) {
        background: url(img/4.jpg) no-repeat 25% 101%; }
        .banner-box .banner li:nth-of-type(1) .title {
          height: 89px;
          top: 140px;
          background: url(img/18.png) no-repeat 50% 22%; }
          .banner-box .banner li:nth-of-type(1) .title p {
            top: 70%; }
    .banner-box .banner .banner-img.active {
      display: block;
      transform: translateX(0); }
    .banner-box .banner .banner-img.left {
      transform: translateX(-100%);
      display: block; }
    .banner-box .banner .banner-img.right {
      transform: translateX(100%);
      display: block; }
  .banner-box .button {
    display: none;
    width: 100%;
    height: 128px;
    top: 0;
    bottom: 0;
    position: absolute;
    margin: auto; }
    .banner-box .button .btn-left {
      width: 67px;
      height: 128px;
      top: 0;
      bottom: 0;
      position: absolute;
      margin: auto;
      left: 20px; }
      .banner-box .button .btn-left a {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        font-size: 60px;
        line-height: 72px;
        width: 32px;
        height: 72px;
        color: #BCBDBF; }
    .banner-box .button .btn-right {
      width: 67px;
      height: 128px;
      top: 0;
      bottom: 0;
      position: absolute;
      margin: auto;
      right: 60px; }
      .banner-box .button .btn-right a {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        padding-right: 20px;
        box-sizing: border-box;
        font-size: 60px;
        line-height: 72px;
        width: 32px;
        height: 72px;
        color: #BCBDBF; }
  .banner-box .button.block {
    display: block; }
  .banner-box .btn-list {
    width: 112px;
    height: 8px;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    bottom: 9px; }
    .banner-box .btn-list li {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin: 0 10px;
      float: left;
      background: #999; }
    .banner-box .btn-list .col.item {
      width: 9px;
      height: 9px;
      border: 1px solid #0070c9;
      border-radius: 50%;
      margin: 0 8px;
      margin-top: -2px;
      background: #fff; }

@media screen and (max-width: 768px) {
  .banner-box {
    max-width: 716px;
    max-height: 391px;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    position: relative;
    z-index: 2;
    margin-top: -46px;
    overflow: hidden; }
    .banner-box .banner {
      width: 100%;
      height: 100%;
      cursor: pointer;
      left: 0;
      right: 0;
      position: absolute;
      margin: auto; }
      .banner-box .banner .banner-img {
        width: 100%;
        height: 100%;
        position: absolute; }
        .banner-box .banner .banner-img .title {
          max-width: 645px;
          left: 0;
          right: 0;
          position: absolute;
          margin: auto; }
          .banner-box .banner .banner-img .title h3 {
            width: auto;
            height: auto;
            left: 0;
            right: 0;
            position: absolute;
            margin: auto;
            top: 60%;
            display: block;
            font-weight: 300;
            font-size: 40px;
            text-align: center;
            color: #333; }
          .banner-box .banner .banner-img .title p {
            width: auto;
            height: auto;
            left: 0;
            right: 0;
            position: absolute;
            margin: auto;
            display: block;
            text-align: center;
            font-weight: 300;
            font-size: 24px;
            color: #333; }
        .banner-box .banner .banner-img:nth-of-type(2) {
          background: url(img/apple_watch_trio_small.jpg) no-repeat center 70%; }
          .banner-box .banner .banner-img:nth-of-type(2) .title {
            height: 88px;
            top: 60px;
            background: url(img/apple_watch_small.png) no-repeat center center; }
            .banner-box .banner .banner-img:nth-of-type(2) .title p {
              top: 80%;
              font-size: 24px;
              font-weight: 300; }
        .banner-box .banner .banner-img:nth-of-type(3) {
          background: url(img/ipad_pro_family_small.jpg) no-repeat 56% 90%; }
          .banner-box .banner .banner-img:nth-of-type(3) .title {
            height: 92px;
            top: 100px; }
            .banner-box .banner .banner-img:nth-of-type(3) .title h3 {
              top: -20%;
              font-size: 40px;
              font-weight: 100; }
            .banner-box .banner .banner-img:nth-of-type(3) .title p {
              top: 30%;
              color: #666;
              width: 100%;
              text-align: center; }
        .banner-box .banner .banner-img:nth-of-type(4) {
          background: url(img/macbook_small.png) no-repeat center 74%; }
          .banner-box .banner .banner-img:nth-of-type(4) .title {
            height: 92px;
            top: 39px; }
            .banner-box .banner .banner-img:nth-of-type(4) .title h3 {
              top: 50%; }
            .banner-box .banner .banner-img:nth-of-type(4) .title p {
              top: 112%; }
        .banner-box .banner .banner-img:nth-of-type(1) {
          background: url(img/iphone_6s_small.jpg) no-repeat 50% 77%; }
          .banner-box .banner .banner-img:nth-of-type(1) .title {
            height: 89px;
            top: 56px;
            background: url(img/iphone_6s_small.png) no-repeat 50% 8%; }
            .banner-box .banner .banner-img:nth-of-type(1) .title p {
              top: 70%;
              width: 290px; }
    .banner-box .button {
      display: none;
      width: 100%;
      height: 128px;
      top: 0;
      bottom: 0;
      position: absolute;
      margin: auto; }
      .banner-box .button .btn-left {
        width: 67px;
        height: 128px;
        top: 0;
        bottom: 0;
        position: absolute;
        margin: auto;
        left: 20px; }
        .banner-box .button .btn-left a {
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          font-size: 60px;
          line-height: 72px;
          width: 32px;
          height: 72px;
          color: #BCBDBF; }
      .banner-box .button .btn-right {
        width: 67px;
        height: 128px;
        top: 0;
        bottom: 0;
        position: absolute;
        margin: auto;
        right: 60px; }
        .banner-box .button .btn-right a {
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          padding-right: 20px;
          box-sizing: border-box;
          font-size: 60px;
          line-height: 72px;
          width: 32px;
          height: 72px;
          color: #BCBDBF; }
    .banner-box .button.block {
      display: block; }
    .banner-box .btn-list {
      width: 112px;
      height: 8px;
      left: 0;
      right: 0;
      position: absolute;
      margin: auto;
      bottom: 9px; }
      .banner-box .btn-list li {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin: 0 10px;
        float: left;
        background: #999; }
      .banner-box .btn-list .item {
        width: 9px;
        height: 9px;
        border: 1px solid #0070c9;
        border-radius: 50%;
        margin: 0 8px;
        margin-top: -2px;
        background: #fff; } }

.list-box {
  width: 100%;
  min-height: 200px;
  position: relative; }
  .list-box::after {
    content: "";
    display: block;
    clear: both;
    line-height: 0;
    height: 0; }
  .list-box li {
    width: 25%;
    height: 200px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    box-sizing: border-box;
    float: left; }
    .list-box li:nth-of-type(1) {
      background: url(img/5.jpg) no-repeat center 80%; }
    .list-box li:nth-of-type(2) {
      background: url(img/6.jpg) no-repeat center 80%; }
    .list-box li:nth-of-type(3) {
      background: url(img/7.jpg) no-repeat center 80%; }
    .list-box li:nth-of-type(4) {
      background: url(img/8.jpg) no-repeat center 80%;
      border: 0;
      border-top: 2px solid #fff; }

.nav-copyright {
  display: none; }

.nav-bottom {
  display: none; }

@media screen and (max-width: 768px) {
  .nav-copyright {
    display: block; }
  .nav-bottom {
    display: block; }
  .copyright-bottom {
    display: none; }
  .copyright {
    display: none; }
  .copyright-box {
    max-width: 750px;
    background: #F2F2F2;
    float: left; }
    .copyright-box .nav-copyright {
      max-width: 718px;
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 32px; }
      .copyright-box .nav-copyright .col {
        width: 718px;
        height: auto; }
        .copyright-box .nav-copyright .col .list.active {
          height: auto;
          transition: all 0.3s ease; }
        .copyright-box .nav-copyright .col ul {
          overflow: hidden;
          border-bottom: 1px solid #E3E3E3;
          max-width: 718px;
          height: 38px; }
          .copyright-box .nav-copyright .col ul h3 {
            width: 718px;
            height: 38px;
            display: block;
            line-height: 38px;
            cursor: pointer;
            color: #333;
            font-size: 12px;
            font-weight: 500; }
            .copyright-box .nav-copyright .col ul h3::after {
              content: '+';
              float: right;
              font-weight: normal;
              margin-right: 8px;
              transition: transform .3s ease;
              font-size: 16px; }
          .copyright-box .nav-copyright .col ul li {
            height: 30px;
            max-width: 100%; }
    .copyright-box .nav-bottom {
      max-width: 718px;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-left: 16px;
      margin-right: 16px;
      box-sizing: border-box; }
      .copyright-box .nav-bottom .copyright-footertop {
        width: 100%;
        height: 26px;
        text-align: 26px;
        color: #666; }
        .copyright-box .nav-bottom .copyright-footertop a {
          color: #08c; }
      .copyright-box .nav-bottom .flag {
        width: 100%;
        height: 20px;
        float: right;
        margin-top: 2px; }
        .copyright-box .nav-bottom .flag span {
          display: block;
          width: 16px;
          height: 16px;
          box-sizing: border-box;
          border-radius: 50%;
          background: url(img/16.png) no-repeat; }
        .copyright-box .nav-bottom .flag a {
          width: 80%;
          height: 14px;
          margin-top: -16px;
          margin-left: 20px;
          display: block;
          color: #666; }
          .copyright-box .nav-bottom .flag a:hover {
            text-decoration: underline;
            color: #333; }
      .copyright-box .nav-bottom .copyright-footerbottom {
        width: 100%;
        height: 40px;
        margin-top: 13px; }
        .copyright-box .nav-bottom .copyright-footerbottom span {
          display: block;
          width: 100%;
          height: 40px; }
        .copyright-box .nav-bottom .copyright-footerbottom ul {
          width: 100%;
          height: 20px; }
          .copyright-box .nav-bottom .copyright-footerbottom ul li {
            width: auto;
            height: 12px;
            float: left;
            padding-right: 12px;
            border-right: 1px solid #d6d6d6;
            margin-right: 10px; } }

.copyright-box {
  width: 100%;
  min-height: auto;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  position: relative;
  border-top: 2px solid #fff;
  color: #666;
  font-size: 6px;
  font-weight: 100;
  box-sizing: border-box; }
  .copyright-box .copyright {
    max-width: 1024px;
    height: 272px;
    padding-left: 22px;
    padding-right: 22px;
    box-sizing: border-box;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto; }
    .copyright-box .copyright .col {
      width: 20%;
      height: 272px;
      float: left;
      padding-top: 32px; }
      .copyright-box .copyright .col h3 {
        padding-bottom: 5px;
        color: #333;
        font-size: 12px; }
      .copyright-box .copyright .col ul {
        width: auto;
        height: auto;
        float: left; }
        .copyright-box .copyright .col ul li {
          width: 176px;
          height: 20px;
          float: left;
          line-height: 20px; }
  .copyright-box .copyright-bottom {
    max-width: 1024px;
    height: 96px;
    padding-left: 2.12%;
    padding-right: 2.12%;
    box-sizing: border-box;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    top: 272px; }
    .copyright-box .copyright-bottom .copyright-footertop {
      width: 100%;
      height: 26px;
      margin-top: 15px;
      margin-bottom: 10px; }
    .copyright-box .copyright-bottom .copyright-footerbottom {
      width: 100%;
      height: 20px;
      margin-top: 10px;
      margin-bottom: 15px;
      box-sizing: border-box; }
      .copyright-box .copyright-bottom .copyright-footerbottom span {
        display: block;
        width: auto;
        height: 20px;
        margin-right: 26px;
        float: left; }
      .copyright-box .copyright-bottom .copyright-footerbottom ul {
        width: auto;
        height: 20px;
        margin-right: 26px;
        float: left; }
        .copyright-box .copyright-bottom .copyright-footerbottom ul li {
          width: auto;
          height: 14px;
          margin-top: 3px;
          border-right: 1px solid #d6d6d6;
          padding-right: 12px;
          float: left;
          box-sizing: border-box;
          margin-left: 5px; }
          .copyright-box .copyright-bottom .copyright-footerbottom ul li:nth-of-type(5) {
            border: 0; }
      .copyright-box .copyright-bottom .copyright-footerbottom .flag {
        width: auto;
        height: 16px;
        float: right;
        margin-top: 2px; }
        .copyright-box .copyright-bottom .copyright-footerbottom .flag span {
          width: 16px;
          height: 16px;
          border: 1px solid #666;
          box-sizing: border-box;
          border-radius: 50%;
          margin-right: 5px;
          background: url(img/16.png);
          margin-top: -2px; }
        .copyright-box .copyright-bottom .copyright-footerbottom .flag a {
          width: auto;
          height: 14px; }
          .copyright-box .copyright-bottom .copyright-footerbottom .flag a:hover {
            text-decoration: underline;
            color: #333; }
